# Arquivos de ambiente (SENHAS)
.env
*.env
.env.local

# Binários do Go
/api_auth_go
*.exe
*.exe~
*.dll
*.so
*.dylib

# Docker (Se houver dados locais)
docker/postgres_data/

# Logs e IDEs
*.log
.vscode/
.idea/

#terraform
/terraform/.terraform/
/terraform/*.tfstate
/terraform/*.tfstate.backup
/terraform/*.tfvars
*.json # Evita subir a chave do Service Account do GCP